body{
    margin: 0px;
    background-image: url(./pexels-dzenina-lukac-754261.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#sub{
    background-color: rgb(236, 173, 90);
    width: 300px;
    margin-top: 120px;
    margin-left: 40px;
    border-radius: 5px;
    height: 370px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
#first{
    margin-left: 19px;
    padding-left: 30px;
    width: 227px;
    height: 25px;
    background-image: url(./png-transparent-computer-icons-user-login-desktop-others-blue-computer-prints.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    
}
#second{
    margin-left: 19px;
    padding-left: 30px;
    margin-top: 10px;
    width: 227px;
    height: 25px;
    background-image: url(./png-transparent-computer-icons-user-login-desktop-others-blue-computer-prints.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
}
#third{
    margin-left: 19px;
    padding-left: 30px;
    margin-top: 10px;
    width: 227px;
    height: 25px;
    background-image: url(./pngtree-email-icon-design-png-image_2413695.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
}
#fourth{
    margin-left: 19px;
    padding-left: 30px;
    margin-top: 10px;
    width: 227px;
    height: 25px;
    background-image: url(./images\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
}
#fifth{
    margin-left: 19px;
    padding-left: 40px;
    margin-top: 10px;
    
    display: inline-block;
}
#subfifth{
    font-size: 15px;
    display: inline-block;
}
#sixth{
    margin-left: 19px;
    padding-left: 40px;
    margin-top: 10px;
    
}
#subsixth{
    font-size: 15px;
    display: inline-block;
}
#seventh{
    margin-left: 19px;
    padding-left: 10px;
    margin-top: 10px;
    width: 260px;
    height: 35px;
    border: 2px solid black;
    border-bottom: 0cap;
    border-right: 0cap;
}
#eighth{
    margin-left: 19px;
    margin-top: 10px;
    width: 258px;
    height: 40px;
    background-color: rgb(34, 33, 49);
    color: white;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
    font-weight: bold;
}